/* this style is for the page only, it does not style the game objects or anything*/

:root {
	--color-tan: #f9f7c0;
	--color-green: #5f8c47;
}

body {
	background-color: var(--color-green);
	margin: 0;
}

header {
	background-color: var(--color-tan);
	display: flex;
	position: fixed;
	justify-content: center;
	width: 100%;
	height: 100px;
    z-index: 3;
}

header .caveclub-logo {
	height: 100px;
}

main {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 100px);
	padding-top: 100px;
    position: relative;
}

.game-window {
	aspect-ratio: 16 / 9;
	width: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid black 5px;
	border-radius: 15px;
    z-index: 1;
}

.game-container{ 
    position: relative;
    width: calc((90vh - 100px) * 16 / 9);
	max-width: 95%;
}

footer {
	padding: 50px;
	background-color: var(--color-tan);
	display: flex;
	justify-content: center;
}

footer .wrapper {
	display: flex;
	flex-direction: column;
}

footer .caveclub-logo {
	height: 200px;
	margin: 50px 0;
}

footer p {
	text-align: center;
	font-family: "Lato";
}

.self-promo {
	color: black;
	text-decoration: none;
}

.self-promo:hover {
	color: red;
}
