/* this style is for the page only, it does not style the game objects or anything*/

:root {
	--color-tan: #f9f7c0;
	--color-green: #5f8c47;
    --color-link: #F8C7CC;
    /* E5989B */
}

body {
	background-color: var(--color-green);
	margin: 0;
}

header {
	background-color: var(--color-tan);
	display: flex;
	position: absolute;
	justify-content: center;
	width: 100%;
	height: 100px;
	z-index: 3;
}

header .caveclub-logo {
	height: 100px;
}

.game-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	height: calc(100vh - 100px);
	padding-top: 100px;
	position: relative;
	width: calc((90vh - 100px) * 16 / 9);
}

.game-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc((90vh - 100px) * 16 / 9);
}

.game-window {
	aspect-ratio: 16 / 9;
	width: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid black 5px;
	border-radius: 15px;
	z-index: 1;
}

.fullscreen-button {
	align-self: flex-end;
	height: 4vh;
	width: 4vh;
	padding: 0;
	border: none;
	background-color: transparent;
}

.fullscreen-button img {
	height: 100%;
	width: 100%;
	justify-self: flex-end;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.about {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	padding: 100px 0;
	font-family: "Roboto";
    color: var(--color-tan);
}

.about h1 {
	margin-bottom: 40px;
    font-size: 3em;
}

.about p {
	margin: 0 0 30px 0;
    font-size: 1.2em;
}

.about .about-link {
    color: var(--color-link);
}

.bmc-btn-container {
	display: inline-block;
	align-self: center;
}

footer {
	padding: 50px;
	background-color: var(--color-tan);
	display: flex;
	justify-content: center;
}

footer .wrapper {
	display: flex;
	flex-direction: column;
}

footer .caveclub-logo {
	height: 200px;
	margin: 50px 0;
}

footer p {
	text-align: center;
	font-family: "Lato";
}

.self-promo {
	color: black;
	text-decoration: none;
}

.self-promo:hover {
	color: red;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
